/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* header styles */
  .c-nav {
    padding: 15px 0;
  }
  .c-nav img {
    width: 185px;
  }
  .menu li a {
    padding: 10px 0 0 0;
  }
  .c-dr-menu[data-bs-popper] {
    left: 0;
  }

  /* banner */
  .banner {
    text-align: center;
  }
  .slider-content {
    margin: 80px 0;
  }
  .slider-content h1 {
    font-size: 35px;
  }
  .slider-content p {
    padding: 30px 0 35px;
  }

  /* welcome nipro */
  .vertical-line {
    height: 40px;
  }
  .title-spacing {
    padding: 30px 0;
  }
  .nipro-text p {
    padding-bottom: 70px;
  }
  .nipro-card {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
  }
  .n-card i {
    top: -22px;
    left: 110px;
  }

  .about {
    padding-bottom: 80px;
    text-align: center;
  }
  .about img{
    padding: 0 0 30px;
  }
  .p-text-1{
    padding: 30px 0 15px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* header styles */
  .c-nav {
    padding: 15px 0;
  }
  .c-nav img {
    width: 200px;
  }
  .menu li a {
    padding: 10px 0 0 0;
  }
  .c-dr-menu[data-bs-popper] {
    left: 0;
  }

  /* banner */
  .banner {
    text-align: center;
  }
  .slider-content {
    margin: 100px 0;
  }
  .slider-content h1 {
    font-size: 45px;
  }
  .slider-content p {
    padding: 35px 0 40px;
  }

  /* welcome nipro */
  .vertical-line {
    height: 40px;
  }
  .title-spacing {
    padding: 30px 0;
  }
  .nipro-text p {
    padding-bottom: 70px;
  }
  .nipro-card {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
  .n-card i {
    top: -22px;
    left: 85px;
  }

  .about {
    padding-bottom: 80px;
    text-align: center;
  }
  .about img{
    padding: 0 0 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* header styles */
  .c-nav {
    padding: 20px 0;
  }
  .menu li a {
    padding: 10px 0 0 0;
  }
  .c-dr-menu[data-bs-popper] {
    left: 0;
  }

  /* banner */
  .banner {
    text-align: center;
  }
  .slider-content {
    margin: 150px 0;
  }
  .slider-content h1 {
    font-size: 55px;
  }
  .slider-content p {
    padding: 45px 20px 50px;
  }

  /* welcome nipro */
  .nipro-text p {
    padding-bottom: 100px;
  }
  .nipro-card {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }
  .n-card i {
    top: -22px;
    left: 128px;
  }

  .about {
    padding-bottom: 100px;
    text-align: center;
  }
  .about img{
    padding: 0 50px 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* banner */
  .slider-content h1 {
    font-size: 55px;
  }
  .slider-content p {
    padding: 50px 0 55px 0;
  }

  /* welcome nipro */
  .n-card i {
    top: -22px;
    left: 70px;
  }

  .p-text-1 {
    padding: 10px 0 5px;
  }
  .p-text-2 {
    padding-bottom: 10px;
  }
  .btn-learnMoreAbout {
    padding: 5px 10px;
  }
}
/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* welcome nipro */
  .n-card i {
    top: -22px;
    left: 93px;
  }
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
