/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* common styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8e8e8e;
}

/* header */
.c-nav {
  padding: 30px 0;
}
.menu li a {
  padding-right: 30px !important;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8e8e8e;
}
.menu li a:hover {
  font-weight: 700;
  color: #333333;
}
.c-dr-menu[data-bs-popper] {
  top: 100%;
  left: -159px;
  padding-left: 15px;
}
.btn-search {
  border: none;
}
.btn-search:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}

/* banner styles */
.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* TODO */
  /* min-height: 700px; */
}
.slider-content {
  margin: 200px 0;
}
.slider-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}
.slider-content p {
  padding: 50px 117px 55px 0;
  color: #ffffff;
}
.c-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}
.btn-learnMore {
  padding: 15px 25px;
  border: none;
}
.btn-learnMore:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}

/* welcome nipro style */
.vertical-line {
  margin: 0 auto;
  width: 3px;
  height: 50px;
  background-color: #333333;
}
.content-title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.title-spacing {
  padding: 30px 0 50px;
}
.nipro-text p {
  color: #8e8e8e;
  padding-bottom: 120px;
}

.nipro-card {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}
.n-card {
  padding: 70px 20px 40px;
  border: 2px solid #8e8e8e;
  position: relative;
}
.n-card i {
  padding: 0 10px;
  font-size: 60px;
  color: #8e8e8e;
  background-color: #ffffff;
  position: absolute;
  top: -22px;
  left: 117px;
}
.n-card h2 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}
.btn-more {
  margin-top: 40px;
  font-weight: 700;
  color: #8e8e8e;
  border: none;
}
.n-card:hover {
  border: 2px solid #333333;
}
.n-card:hover i,
.n-card:hover button {
  color: #333333;
}
/* .n-card:hover button {
  color: #333333;
} */

.about {
  padding-bottom: 120px;
}
.p-text-1 {
  padding: 30px 0;
}
.p-text-2 {
  padding-bottom: 40px;
}
.btn-learnMoreAbout {
  padding: 10px 20px;
}
.btn-learnMoreAbout:hover {
  color: #ffffff;
  background-color: #8e8e8e;
  border: 2px solid #8e8e8e;
}

/* recent work styles */
.r-work {
  background-color: #f8f8f8;
}

/* choose nipro styles */
.t-p-top {
  padding-top: 30px;
}
.choose-card {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.s-card {
  border-bottom: 2px solid #8e8e8e;
}
.s-card i {
  font-size: 48px;
}
.s-card h5 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #8e8e8e;
}
.s-card p {
  padding: 35px 0;
}
.s-card:hover {
  border-bottom: 2px solid #333333;
}
.s-card:hover i,
.s-card:hover h5 {
  color: #333333;
}

/* work with styles */
.work-with {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* todo */
  /* height: 650px; */
}
.person-photo {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.designation {
  /* padding: 15px 45px; */
  padding: 15px 0 15px 30px;
  background-color: #ffffff;
}
.designation h5 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}
.social-link {
  margin: 95px 255px 0 0;
}
.social-link i {
  font-size: 30px;
  color: #333333;
  background-color: #ffffff;
}
.social-link i {
  display: none;
}
.person:hover i {
  display: block;
}

/* pricing style */
.pricing {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.pricing-card {
  padding: 0 50px 0;
  border: 2px solid #8e8e8e;
  position: relative;
}
.pricing-card h6 {
  padding: 0 10px 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #ffffff;
  position: absolute;
  top: -10px;
  left: 40px;
}
.pricing ul li {
  list-style: none;
  padding-bottom: 25px;
}
.pricing-card p {
  padding: 50px 0 40px 0;
}
.pricing-card p span {
  /* padding: 0 0 0 30px; */
  font-size: 36px;
  color: #333333;
}
.btn-signUp {
  margin: 0 0 40px 0px;
  padding: 15px 50px;
  color: #8e8e8e;
  border: 2px solid #8e8e8e;
}
.btn-signUp:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}
.pricing-card:hover {
  border: 2px solid #333333;
}
.pricing-card:hover button {
  color: #333333;
  border: 2px solid #333333;
}

/* html template style */
.html-template {
  margin: 0 0 100px 0;
  padding: 30px 0;
  background-color: #f8f8f8;
}
.html-template p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #333333;
}
.btn-buyNow {
  padding: 10px 40px;
}
.btn-buyNow:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}

/* employee styles */
.employee {
  padding-bottom: 100px;
}
.emp-identity {
  padding: 50px 30px;
  border: 2px solid #8e8e8e;
}
.identity-text h4 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}
.identity-text h5 {
  font-size: 18px;
  color: #333333;
}
.control-button {
  /* writing-mode: vertical-rl; */
  border: 1px solid #333333;
  background-color: #f8f8f8;
}
.b-next-prev {
  padding: 79px 0 0;
}

/* contact style */
.contact {
  margin-bottom: 100px;
  padding: 100px 200px 30px;
  border: 1px solid #8e8e8e;
  position: relative;
}
.contact h2 {
  padding: 0 10px;
  position: absolute;
  top: -19px;
  left: 564px;
  background-color: #ffffff;
}
.input-form input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8e8e8e;
  outline: none;
}
.btn-sendNow {
  padding: 10px 40px;
}
.btn-sendNow:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}
