/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* common styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8e8e8e;
}

/* header */
.c-nav {
  padding: 30px 0;
}
.menu li a {
  padding-right: 30px !important;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8e8e8e;
}
.menu li a:hover {
  font-weight: 700;
  color: #333333;
}
.c-dr-menu[data-bs-popper] {
  top: 100%;
  left: -159px;
  padding-left: 15px;
}
.btn-search {
  border: none;
}
.btn-search:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}

/* banner styles */
.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* TODO */
  /* min-height: 700px; */
}
.slider-content {
  margin: 200px 0;
}
.slider-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}
.slider-content p {
  padding: 50px 117px 55px 0;
  color: #ffffff;
}
.c-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  
}
.btn-learnMore {
  padding: 15px 25px;
  border: none;
}
.btn-learnMore:hover {
  color: #ffffff;
  background-color: #8e8e8e;
}

/* welcome nipro style */
.vertical-line {
  margin: 0 auto;
  width: 3px;
  height: 50px;
  background-color: #333333;
}
.content-title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.title-spacing {
  padding: 30px 0 50px;
}
.nipro-text p {
  color: #8e8e8e;
  padding-bottom: 120px;
}

.nipro-card {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}
.n-card {
  padding: 70px 20px 40px;
  border: 2px solid #8e8e8e;
  position: relative;
}
.n-card i {
  padding: 0 10px;
  font-size: 60px;
  color: #8e8e8e;
  background-color: #ffffff;
  position: absolute;
  top: -22px;
  left: 117px;
}
.n-card h2 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}
.btn-more {
  margin-top: 40px;
  font-weight: 700;
  color: #8e8e8e;
  border: none;
}
.n-card:hover {
  border: 2px solid #333333;
}
.n-card:hover i {
  color: #333333;
}
.n-card:hover button {
  color: #333333;
}

.about{
    padding-bottom: 120px;
}
.p-text-1{
    padding: 30px 0;
}
.p-text-2{
    padding-bottom: 40px;
}
.btn-learnMoreAbout{
    padding: 10px 20px;
}
